/* select */
select {display: inline-block; border-radius: 10px;width: 100%;height:70px;line-height:70px;font-size: 30px; color: #ffffff;border: none; padding: 0 20px;box-sizing: border-box; background: #232e82 url('../images/sub/icon_select.png') right 20px center no-repeat;
-webkit-appearance: none;/* 화살표 없애기 for chrome*/
-moz-appearance: none;/* 화살표 없애기 for firefox*/
appearance: none;/* 화살표 없애기 공통*/
}
select::-ms-expand {display: none;/* 화살표 없애기 for IE10, 11*/}
select:focus {background:;}
select option {background: #fff; color: #000;}
